.login-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background); 
  padding: 2rem;
}

.login-card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 2.5rem 2.5rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 35%;
  box-shadow: 0 10px 30px var(--shadow-color);
  box-sizing: border-box;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}

.tab {
  border: none;
  background: none;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.tab.active {
  color: var(--primary-color);
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color); 
}