version: '3.9'

services:
  mongodb:
    image: mongo:6
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"  # expone MongoDB en el puerto local
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: linkedup
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
